$color-white: #fff;
$color-white-200: rgba(255, 255, 255, 0.18);
$color-black: #000000;
$color-black-200: rgba(0, 0, 0, 0.2);
$color-black-700: rgba(0, 0, 0, 0.7);
$color-black-800: rgba(16, 18, 27, 0.8);
$color-red-200: #fecaca;
$color-red-500: #ef4444;
$color-red-600: #e03636;
$color-red-800: #991b1b;
$color-gray-100: #f3f4f6;
$color-gray-300: #d1d5db;
$color-gray-400: #c2c2c2;
$color-gray-500: rgba(97, 96, 96, 0.282);
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-indigo-100: #e0e7ff;
$color-indigo-500: #6366f1;
$color-indigo-600: #4746e5;
$color-indigo-800: #3730a3;
$color-indigo-900: #364d79;
$color-blue-300: #1890ff;
$color-blue-500: #40a9ff;
$color-cyan-300: #67e8f9;
$color-cyan-600: #0891b2;
$color-teal-400: #2dd4bf;
$color-teal-800: #115e59;
$color-violet-400: #a78bfa;
$color-green-500: #22c55e;
$color-green-600: #12b012;
$color-green-800: #166534;
$color-yellow-600: #c9c426;

// SIZE
$size-0: 0;
$size-1: 0.025rem;
$size-2: 0.875rem;
$size-3: 1rem;
$size-4: 2.25rem;
$size-5: 2.5rem;
$size-6: 3rem;
$size-10: 12rem;
$size-11: 20rem;
$size-12: 42rem;
$size-half: 50%;
$size-full: 100%;

// FONT-WEIGHT
$fw-semibold: 600;
$fw-bold: 700;

// BOX-SHADOW
$shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);

// BREAK-POINT
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1280px;
