.admin-template {
	min-height: 100vh;
	header {
		background-color: transparent;
		padding: $size-0;
		& > div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			box-shadow: 0 0 10px 4px $color-black-200;
			padding: 0 $size-3;
			.header__right {
				a {
					display: flex;
					align-items: center;
					padding: math.div($size-3, 2) 0;
					img {
						width: $size-10 - 2;
					}
				}
			}
			.header__left {
				display: flex;
				align-items: center;
				& > div {
					display: flex;
					justify-content: center;
					align-items: center;
					width: $size-5;
					height: $size-5;
					border-radius: $size-full;
					background-color: $color-dark-8;
					cursor: pointer;
				}
			}
		}
	}
	div.site-layout-background {
		padding: math.div($size-6, 2);
		min-height: $size-11 + 2;
		height: 100%;
	}
}
