.film-management {
	h3 {
		font-size: math.div($size-6, 2);
		line-height: $size-3 * 2;
		margin: 0;
	}
	& > button {
		margin: math.div($size-3, 2) $size-0 $size-3;
	}
	.find-film-input {
		margin-bottom: $size-3;
	}

	.filmTable {
		img {
			width: $size-6 + 2;
			height: $size-6 * 2;
		}
		.btnGroup {
			a {
				color: $color-green-500;

				margin-right: math.div($size-3, 2);

				transition: all 0.5s;
				&:hover {
					color: $color-green-800;
				}
				span {
					font-size: $size-3;
					line-height: $size-4 - 0.5;
				}
				&:last-of-type {
					color: $color-teal-400;
					&:hover {
						color: $color-teal-800;
					}
				}
			}
			button {
				color: $color-red-500;
				margin: 0 math.div($size-3, 2) 0 0;
				transition: all 0.5s;
				background-color: transparent;
				border: none;
				cursor: pointer;
				&:hover {
					color: $color-red-800;
				}
				span {
					font-size: $size-3;

					line-height: $size-4 - 0.5;
				}
			}
		}
	}
	@media screen and (min-width: $xl-screen) {
		.filmTable {
			.btnGroup {
				a {
					margin-right: $size-3;
					span {
						font-size: math.div($size-5, 2);
					}
				}
				button {
					margin-right: $size-3;
					span {
						font-size: math.div($size-5, 2);
					}
				}
			}
		}
	}
}
