.user-component {
	form {
		h3 {
			font-size: math.div($size-6, 2);
			line-height: $size-3 * 2;
			font-weight: $fw-semibold;
			margin-left: $size-6 + 1;
		}
		.ant-form-item {
			position: relative;
		}
		.iconToggle {
			position: absolute;
			top: 20%;
			left: 95%;
			cursor: pointer;
		}
		.text-danger {
			@include textDanger($color-red-600, $size-3 - 0.2, math.div($size-3, 2));
		}
	}
	& > button {
		margin-left: $size-6 + 2;
	}
}
